
  <div class="sidebar">
    <img class="logo" src="../assets/images/LogoPersonal.png" alt="logo personal">
    <div class="sidebar-content">
      <a routerLink="/habilidades">
      <button>HABILIDADES</button>
      </a>
      <a routerLink="/experiencia">
      <button>EXPERIENCIA</button>
      </a>
      <a routerLink="/contacto">
      <button>CONTACTO</button>
      </a>
    </div>   
  </div> 
  <div class="content">  
    <p class="code-head">&lt;&frasl; head&gt;</p>
    <p class="code-body">&lt;body&gt;</p>
    <p class="code-h1">&lt;h1&gt;</p>
    <h1 class="welcome">
      Hola,
      <p>soy Jorge,</p>
      <p>front-end developer</p>      
    </h1>
    <p class="code-h1end">&lt;&frasl; h1&gt;</p>
    <p class="code-button">&lt;button&gt;</p>
    <button class="contactme" (click)="openEmailPopup()">Contactame</button>
    <button class="cv" (click)="descargarPDF()"><img class="cvimg" alt="Currriculum"src="../assets/images/cv.png"></button>
    <p class="code-button-end">&lt;&frasl; button&gt;</p>
    
      <p class="scroll">Scroll down -></p>
    
    
      <p id="typed-text" class="texto">{{ displayedText }}</p>
      <div class="audio-player">
        <button (click)="play()"><img class="play" src="../assets/images/play3.png" alt="play"></button>
        <button (click)="pause()"><img class="pause" src="../assets/images/pause3.png" alt="pause"></button>
        <button (click)="reset()"><img class="reset" src="../assets/images/reset.png" alt="reset"></button>
        <div class="progress-bar">
            <div class="progress" [ngStyle]="{'width': progress + '%' }"></div>
        </div>
         <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume" (ngModelChange)="adjustVolume()" class="volume-slider"> 
        <audio #audioPlayer src="../assets/audio/Bossa lofi v2.3 lofivlep.mp3"></audio>
        <div class="song-name">
          <span>{{ songName }}</span>

        </div>
    </div>
    <div class="transicion"><img class="transicion2" src="../assets/images/personacuerda.png" alt="logo personal"></div>
    <app-habilidades></app-habilidades>
    <app-experiencia></app-experiencia>
  </div>
  

