* {
    
    margin: 0;
    padding: 0; 
    overflow:hidden; 
 
    
}
.lineacurva {
    margin-top: 1500px;
    right: 0;
    left: 0;
    position: absolute;
    border: 2px solid black;

      /* Color del texto del botón */
}
.linea{
    right: 0;
    left: 0;
    width: 500px;
    padding: 0;

    height: auto;
    transform: rotate(90deg);
}