
<div class="linea-negra">
    <div class="linea-negra-horizontal2">
<div class="linea-negra-horizontal">
    <div class="linea-negra2"></div>
    <div class="linea-negra3"></div>
</div></div></div>
<div class="contenido1">
    <img class="ntt" src="../assets/images/ntt.png" alt="ntt">
    <p>Desarrolador front-end NTTDATA | Septiembre 2023 - Enero 2024 (híbrido)</p>
    <ul>
        <li>Integración del back-end con el front-end</li>
        <li>Integración de nuevas funcionalidades en front-end</li>
        <li>Identificar y corregir errores o problemas de compatibilidad</li>
        <li>Mejorar la usabilidad de la aplicación
            <ul>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>HTML/CSS</li>
                <li>BOOTSTRAP</li>
                <li>Node.js</li>
            </ul>
        </li>
    </ul>
</div>
<div class="contenido2">
    <p>Desarrollador front-end Renovatio Import slu. | Enero 2022 - Agosto 2023</p>
    <ul>
        <li>Integración del back-end con el front-end</li>
        <li>Integración de nuevas funcionalidades en front-end</li>
        <li>Identificar y corregir errores o problemas de compatibilidad</li>
        <li>Mejorar la usabilidad de la aplicación
            <ul>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>HTML/CSS</li>
                <li>BOOTSTRAP</li>
            </ul>
        </li>
    </ul>

</div>


